fastapi
uvicorn[standard]
pydantic[Email]
numpy
opencv-python
sqlalchemy
pydantic-settings
python-dotenv
psycopg2-binary
python-jose[cryptography]
passlib[bcrypt]
torch
torchvision
ultralytics
scikit-image
filterpy
# pytest
# pytest-mock
# requests-mock
# httpx